.list-main {
  .list {
    list-style: none;
    .list-card {
      background-color: #eeeeee;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 10px;
      width: max-content;
      cursor: pointer;
    }
  }
}
